.project-container {
  background-color: $white-ter;
  text-align: center;

  hr {
    width: 200px;
    max-width: 200px;
  }

  .image {
    width: 600px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.55);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.55);
  }
}
