<mat-sidenav-container class='side-nav-container height-100'>
  <mat-sidenav #sidenav mode='side' opened='true' class='is-hidden-touch'>
    <div class='side-nav is-flex is-flex-direction-column'>
      <button mat-button routerLink='github-io'>GitHub.io</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class='scroll-to-top'>
      <button mat-mini-fab color="primary" *ngIf='showScrollToTop' (click)='scrollToTop()'>
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
