<div class='sub-navbar is-hidden-tablet'>
  <button mat-button (click)='sidenav.toggle()' class='mx-1 my-1'>
    <mat-icon>
      menu
    </mat-icon>
  </button>
</div>
<mat-sidenav-container class='side-nav-container'>
  <mat-sidenav #sidenav [mode]='mode' [(opened)]='opened'>
    <div class='side-nav is-flex is-flex-direction-column'>
      <button mat-button routerLink='github-io'>GitHub.io</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class='scroll-to-top'>
      <button mat-mini-fab color="primary" *ngIf='showScrollToTop' (click)='scrollToTop()'>
        <mat-icon>arrow_upward</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
