// Colours
$col-base-1: #000000; // Main fonts, inverted backgrounds
$col-base-2: #9f9f9f; // Alt-text
$col-base-3: #e2e2e2; // Page background, inverted fonts

$col-primary: #1cdce4;

// Breakpoints
$break-mobile-max: 768px;
$break-mobile-min: 769px;