.drop-shadow {
  position: relative;
}

.drop-shadow::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 50%);
  position: absolute;
  width: 100%;
  height: 20px;
  top: 100%;
  left: 0;
}
