<div class='has-background-white-ter height-100'>
  <mat-sidenav-container class='height-100 side-nav-container'>
    <mat-sidenav #mobileNav mode='over' [(opened)]='opened' (click)='onClick($event)' [autoFocus]="false">
      <app-mobile-nav></app-mobile-nav>
    </mat-sidenav>
    <mat-sidenav-content class='side-nav-container is-flex is-flex-direction-column'>
      <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
      <app-footer class='mt-auto'></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
