<mat-toolbar class='navbar is-flex is-flex-wrap-wrap height-unset px-2'>

  <button mat-button routerLink='/' class='my-1'>
    <mat-icon svgIcon='b'></mat-icon>
    brendan-travis.github.io
  </button>

  <div class='is-flex-grow-1 is-flex is-flex-wrap-wrap is-hidden-touch'>
    <button mat-button routerLink='/blog' class="ml-2 my-1">
      Blog
    </button>

    <button mat-button routerLink='/projects' class="ml-2 my-1">
      Projects
    </button>

    <div class='ml-auto my-1'>
      <a href='https://www.linkedin.com/in/brendan-travis-029b89166/'>
        <button mat-button>
          <mat-icon svgIcon='linkedin'></mat-icon>
          <div class='is-hidden is-flex-desktop'>
            LinkedIn
          </div>
        </button>
      </a>

      <a href='https://github.com/brendan-travis' class="ml-2 my-1">
        <button mat-button>
          <mat-icon svgIcon='github'></mat-icon>
          <div class='is-hidden is-flex-desktop'>
            GitHub
          </div>
        </button>
      </a>
    </div>
  </div>

  <div class='is-hidden-desktop ml-auto'>
    <button mat-button (click)="toggleMobileNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

</mat-toolbar>
