<mat-toolbar color='primary' class='drop-shadow' style='z-index: 2;'>
  <button mat-button routerLink="/" routerLinkActive="active">
      <mat-icon svgIcon='b'></mat-icon>
      brendan-travis.github.io
  </button>

  <button mat-button routerLink="/blog" routerLinkActive="active">
      Blog
  </button>

  <button mat-button routerLink="/projects" routerLinkActive="active">
      Projects
  </button>

  <span class='spacer'></span>

  <a href='https://www.linkedin.com/in/brendan-travis-029b89166/'>
    <button mat-button >
      <mat-icon svgIcon='linkedin'></mat-icon>
      LinkedIn
    </button>
  </a>

  <a href='https://github.com/brendan-travis'>
    <button mat-button >
      <mat-icon svgIcon='github'></mat-icon>
      GitHub
    </button>
  </a>
</mat-toolbar>
