<mat-toolbar color='primary' class='drop-shadow is-flex is-flex-wrap-wrap height-unset p-2'>

  <button mat-button routerLink='/' routerLinkActive='active'>
    <mat-icon svgIcon='b'></mat-icon>
    brendan-travis.github.io
  </button>

  <div class='is-flex-grow-1 is-flex is-flex-wrap-wrap'>
    <button mat-button routerLink='/blog' routerLinkActive='active'>
      Blog
    </button>

    <button mat-button routerLink='/projects' routerLinkActive='active'>
      Projects
    </button>

    <div class='ml-auto'>
      <a href='https://www.linkedin.com/in/brendan-travis-029b89166/'>
        <button mat-button>
          <mat-icon svgIcon='linkedin'></mat-icon>
          <div class='is-hidden is-flex-desktop'>
            LinkedIn
          </div>
        </button>
      </a>

      <a href='https://github.com/brendan-travis'>
        <button mat-button>
          <mat-icon svgIcon='github'></mat-icon>
          <div class='is-hidden is-flex-desktop'>
            GitHub
          </div>
        </button>
      </a>
    </div>
  </div>

</mat-toolbar>
