$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@each $position in $positions {
  $posKey: nth($position, 1);
  $posValue: nth($position, 2);
  .m#{$posKey}-auto {
      margin-#{$posValue}: auto;
  }
}
