<div class='is-flex is-justify-content-center'>
  <div class='blog-wrapper'>

    <a [routerLink]="['/blog', 'adding-a-markdown-blog-to-an-angular-site-using-ngx-markdown']">
      <div class='is-flex is-flex-direction-row mb-5'>
        <img class='blog-list-image is-flex-shrink-1 is-hidden-mobile' src='/assets/images/blog/adding-a-markdown-blog-to-an-angular-site-using-ngx-markdown_700x394.jpg'>
        <div class='ml-2'>
          <h2>Adding a Markdown Blog to an Angular Site using NGX Markdown</h2>
          <p>Brendan Travis • Thursday, June 3, 2021</p>
        </div>
      </div>
    </a>

  </div>
</div>
