<div class='project-container py-5 is-flex is-flex-direction-column is-align-items-center'>
  <h1>GitHub.io</h1>

  <div class='my-5 mx-5'>
    <img src='/assets/images/github-io.jpg' class='image'>
  </div>

  <h2>The Project</h2>
  <p>A small portfolio site built with Angular as a way to learn about Angular and try out some frontend magic.</p>

  <p>The first iteration was built to get something built as fast as possible as a good base.</p>
  <p>From there, it could be iterated further, including more features and complex components.</p>

  <p>The initial goal was to create a landing page for my projects and have a place where I could write a small
    description and if possible, link to a working prototype.</p>

  <hr class='mx-5'/>

  <h2>The Tech</h2>
  <p>The site is built on Angular 12 and uses Angular Material for some quick and elegant components.</p>
  <p>Most of the styling is hand rolled but a few utilities and helpers were added from Bulma.</p>

  <hr class='mx-5'/>

  <h2>The Future</h2>
  <p>The site will continue to host my projects as a place to showcase my work.</p>
  <p>Plus, I want to continue developing with Angular and create some custom components that could be reused in other
    applications.</p>
</div>

