.blog-wrapper {
  max-width: 700px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 64px;
  margin-right: 64px;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin-left: 32px;
    margin-right: 32px;
  }

  .pre-filepath {
    padding: 8px;
    margin-bottom: 0;
    background-color: $black-bis;
    border-radius: 5px 5px 0 0;
    color: $grey-light;
    text-align: right;
    color: $success;
    font-size: $pre-font-size;
    font-family: monospace;
  }

  pre {
    margin-bottom: 12px;
    background-color: $black-bis;
    border-radius: 0 0 5px 5px;
    color: $grey-light;
  }

  h2 {
    margin-top: 24px;
  }
}

.blog-list-image {
  max-width: 200px;
  max-height: 128px;
}
